<ion-header>
  <ion-toolbar mode="ios" color="light">
    <ion-title>
      Saving Memories
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="custom-icon" (click)="takePicture()"><ion-icon slot="icon-only" name="camera"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none" *ngIf="images.length === 0">
    <ion-label color="warning">
      <h1>Click on the camera icon to take pictures.</h1>
    </ion-label>
  </ion-item>

  <ion-slides pager="true" [options]="slideOpts" *ngIf="images.length > 0">
    <ion-slide *ngFor="let image of images">
      <img [src]="image" alt="img">
    </ion-slide>
  </ion-slides>
</ion-content>